.ui-base {
    background: linear-gradient(0deg, #364347 0, #ccc 100%);
    border: 2px solid #666;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #000000;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.ui-base-item-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    .ui-icon {
        margin-left: 5px;
    }
}