@import (reference) "./ui-base";

@padding: 5px;

.ui-panel {
    .ui-base();
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    position: relative;
}

.ui-panel-content {
    border: 1px outset #c8c8c8;
    border-radius: 5px;
    position: absolute;
    top: @padding;
    left: @padding;
    right: @padding;
    bottom: @padding;
    padding: @padding;
}